.heading{
    color: #ffff;
    /* background-color:red; */
    font-family: san-serif;
    font-size:47px ;
    padding-left:430px;
    margin-left:250px !important
}

.table{
    /* color: white !important; */
    margin-left: 430px;
    margin-top: 40px;
    height: 445px;
    background: rgba( 18, 18, 18, 0.45 );
    width: 700px;
    /* background-color: thistle; */
}

.MuiDataGrid-main{
    color:#ffff !important;
    font-weight:bold
}


.buts{
    margin-right: 10px !important;
    color: white !important;
}

.buts:hover{
    background-color: #233a52 !important;
}
