.App {
  text-align: center;
  /* background-color: chocolate; */
  /* background-image: url("schoolbg.jpg"); */
}

body{
  /* background-color: chocolate !important; */
  /* background-image: url("schoolbg.jpg");  */
  background-image: url("./images/schoolbg.jpg");
  background-repeat: no-repeat;
  background-size: 1400px 650px;
}
